<%- include('layout/header') %>
     <div class="container w-50 mt-5 mb-5 rounded" style="background-color: rgb(237, 243, 242);">
        <div class="row">

            <h1 class="text-center mb-4 bg-success text-light">Edit User (<%= user.name %>)</h1>
            <div class="container">
                <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" id="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" class="form-control" id="email" value="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" class="form-control" id="phone" value="<%= user.phone %>">
                    </div>
                    <div class="form-group">
                        <label for="image">Select Image:</label>
                        <input type="file" class="form-control" name="image" id="image">
                        <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
                        <input type="hidden" name="old_image" value="<%= user.image %>">
                    </div>
                    <input type="submit" name="submit" class="btn btn-success btn-lg mt-3 mb-5 w-100" value="Update User">

                 </form>
            </div>


        </div>
    </div>
    <%- include('layout/footer') %>